body {
  font-family: lcars_font;
  color: white;
  background-color: black;
}

h1{
  font-size: 3.2rem;
  padding-right: 8px;
  /* line-height: 1; */
  /* color: white; */
}

h2 {
  font-size: 2.96rem;
}

h3 {
  font-size: 1.8rem;
}

input {
  margin: 20px 0px 20px;
  width: 300px;
  border-radius: 10px;
  background-color: rgba(153, 153, 255, 0.5);
  border-color: rgb(0, 0, 0);
  box-shadow: 0px 0px 15px #9999ff;
}

textarea:focus, input:focus{
  outline: none;
}

#passwordBox{
  font-size: 1.8rem;
  text-align: center;
}

input,
textarea,
[contenteditable] {
  caret-color: #9999ff;
}

#mainWindow {
  background-image: url("../images/lcars3.gif");
  width: 800px;
  height: 620px;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 0px 15px;
  border-style: solid;
  border-color: #42426d;
  border-width: 2px;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 0px 0px 15px #9999ff;
}

#topDiv {
  height: 240px;
}

#topLeftScreen {
  float: left;
  /* height: 180px; */
  padding: 70px 0px 0px 120px;
  width: 420px;
  /* background-color: black; */
  /* margin-bottom: 60px; */
  
}

#topRightScreen {
  /* display: inline-block; */
  float: right;
  padding: 25px 0px 0px;
  /* padding-right: 0px; */
  /* margin-right: 8px; */
  height: 160px;
  width: 260px;
  /* background-color: black; */
  text-align: right;
}

#bottomLeftScreen {
  padding-left: 120px;
  width: 420px;
  float: left;  
}

#bottomRightScreen {
  /* padding: 0px 0px 0px 120px; */
  float: right;
  width: 260px;
}

#titleDiv {
  padding-top: 7px;
  /* background-color: black; */
  /* padding-right: 9px; */
  width: 100%;
  margin-bottom: -9px;
}

#fakeButtonDiv {
  padding-top: 13px;
}
  
#imageDiv {
  padding-right: 0px;
  width: 200px;
  float: left;
}

#questionImg {
  max-width:100%;
  float: right;
}

#timerDiv {
  margin-top: 35px;
  font-size: 28pt;
  color: #cc0000;
  text-align: center;
  height: 125px;
  /* padding-right: 9px; */
}

#buttonDiv {
  text-align: right;
}

#infoDiv {
  line-height: 1.2;
  margin-left: 5px;
  margin-top: 10px;
  float: right;
  width: 215px;
  font-size: 1.2rem;
}

#questionText {
  padding: 10px;
  text-align: center;
}

.btn {
  font-family: lcars_font;
  border-radius: 25px;
  width: 120px;
  height: 42px;
  margin-left: 3px;
  margin-right: 4px;
  margin-bottom: 11px;
  outline: none;
  text-align: right;
  padding-right: 17px;
  padding-top:11px;
  font-size:15pt;
  border-width: 0px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.blinking{
	animation:blinkingText 1s infinite;
}
@keyframes blinkingText{
	0%{		opacity: 0;	}
	50%{	opacity: 1;	}
	100%{	opacity: 0;	}
}

.engageButton{
	animation:pulse 1.5s infinite;
}
@keyframes pulse{
	0%{		opacity: 1.0;	}
	50%{	opacity: 0.8;	}
	100%{	opacity: 1.0;	}
}

.buttonType0 {
	animation:blinkingButton0 4s infinite;
}
@keyframes blinkingButton0{
	0%{		opacity: 0.2;	}
	50%{	opacity: 1.0;	}
	100%{	opacity: 0.2;	}
}

.buttonType1 {
	animation:blinkingButton1 6s infinite;
}
@keyframes blinkingButton1{
	0%{		opacity: 0.2;	}
	50%{	opacity: 1.0;	}
	100%{	opacity: 0.2;	}
}

.buttonType2 {
	animation:blinkingButton2 8s infinite;
}
@keyframes blinkingButton2{
	0%{		opacity: 0.2;	}
	50%{	opacity: 1.0;	}
	100%{	opacity: 0.2;	}
}

.buttonType3 {
	animation:blinkingButton3 10s infinite;
}
@keyframes blinkingButton3{
	0%{		opacity: 0.2;	}
	50%{	opacity: 1.0;	}
	100%{	opacity: 0.2;	}
}

.orange-text {
  color: #ff9900;
}

.purple-text {
  color: #cc99cc;
}

.blue-text {
  color: #9999ff;
}

.lt-blue-text {
  color: #9999cc;
}

.red-text {
  color: #cc0000;
}

.lt-red-text {
  color: #cc6666;
}

.tan-text {
  color: #ff9966;
}

.lt-tan-text {
  color: #ffcc99;
}

.pink-text {
  color: #cc6699;
}

.orange-back {
  background-color: #ff9900;
}

.purple-back {
  background-color: #cc99cc;
}

.blue-back {
  background-color: #9999ff;
}

.lt-blue-back {
  background-color: #9999cc;
}

.red-back {
  background-color: #cc0000;
}

.lt-red-back {
  background-color: #cc6666;
}

.tan-back {
  background-color: #ff9966;
}

.lt-tan-back {
  background-color: #ffcc99;
}

.pink-back {
  background-color: #cc6699;
}

.black-back {
  background-color: #000000;
}

@font-face {
  font-family: 'lcars_font';
  src: url(//:) format('no404'), 
  url('../font/lcars-webfont.woff') format('woff'), 
  url('../font/lcars-webfont.ttf') format('truetype'), 
  url('../font/lcars-webfont.svg#webfontMzhP0WIg')format('svg'),
  url('../font/lcars-webfont.eot'),
  url('../font/lcars-webfont.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}