body {
  font-family: lcars_font;
  color: white;
  background-color: black;
}

h1{
  font-size: 3.3rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.8rem;
}

input {
  margin: 20px 0px 20px;
  width: 300px;
  border-radius: 10px;
  background-color: rgba(153, 153, 255, 0.5);
  border-color: rgb(0, 0, 0);
  box-shadow: 0px 0px 15px #9999ff;
}

textarea:focus, input:focus{
  outline: none;
}

#passwordBox{
  font-size: 1.8rem;
  text-align: center;
}

input,
textarea,
[contenteditable] {
  caret-color: #9999ff;
}

#mainWindow {
  background-image: url("../images/lcars3-800.jpg");
  width: 662px;
  height: 592px;
  background-repeat: no-repeat;
  background-size: 800px 600px;
  padding-top: 8px;
  padding-left: 130px;
  padding-right: 8px;
  border-style: solid;
  border-color: #42426d;
  border-width: 2px;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 0px 0px 15px #9999ff;
}

#topDiv {
  height: 216px;
}

#titleDiv {
  width: 100%;
  margin-bottom: -9px;
  text-align: right;
}

#topLeftScreen {
  float: left;
  width: 392px;
}

#topRightScreen {
  float: right;
  padding-top: 13px;
  width: 260px;
}

#bottomDiv {
  height: 367px;
}

#bottomLeftScreen {
  width: 392px;
  float: left;  
}

#bottomRightScreen {
  float: right;
  width: 260px;
}
  
#imageDiv {
  padding-top: 4px;
  width: 200px;
  float: left;
}

#infoDiv {
  line-height: 1.2;
  padding-top: 4px;
  padding-left: 10px;
  float: right;
  width: 182px;
  font-size: 1.1rem;
}

#answerImg {
  border-radius: 5px;
}

#questionImg {
  max-width:100%;
  float: right;
  border-radius: 5px;
}

#timerDiv {
  margin-top: 35px;
  font-size: 28pt;
  color: #cc0000;
  text-align: center;
  height: 125px;
}

#questionText {
  text-align: center;
}

#endDiv {
  background-image: url("../images/fedlogo.jpeg");
  margin-top: 20px; 
  text-align: center; 
  background-repeat: no-repeat; 
  background-position: center;
}

.btn {
  font-family: lcars_font;
  border-radius: 25px;
  width: 124px;
  height: 43px;
  margin-left: 6px;
  margin-bottom: 11px;
  outline: none;
  text-align: right;
  padding-right: 19px;
  padding-top:17px;
  font-size:15pt;
  border-width: 0px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.blinking{
	animation:blinkingText 1s infinite;
}

@keyframes blinkingText{
	0%{		opacity: 0;	}
	50%{	opacity: 1;	}
	100%{	opacity: 0;	}
}

.engageButton{
	animation:pulse 1.5s infinite;
}
@keyframes pulse{
	0%{		opacity: 1.0;	}
	50%{	opacity: 0.8;	}
	100%{	opacity: 1.0;	}
}

.buttonType0 {
	animation:blinkingButton0 4s infinite;
}
@keyframes blinkingButton0{
	0%{		opacity: 0.2;	}
	50%{	opacity: 1.0;	}
	100%{	opacity: 0.2;	}
}

.buttonType1 {
	animation:blinkingButton1 6s infinite;
}
@keyframes blinkingButton1{
	0%{		opacity: 0.2;	}
	50%{	opacity: 1.0;	}
	100%{	opacity: 0.2;	}
}

.buttonType2 {
	animation:blinkingButton2 8s infinite;
}
@keyframes blinkingButton2{
	0%{		opacity: 0.2;	}
	50%{	opacity: 1.0;	}
	100%{	opacity: 0.2;	}
}

.buttonType3 {
	animation:blinkingButton3 10s infinite;
}
@keyframes blinkingButton3{
	0%{		opacity: 0.2;	}
	50%{	opacity: 1.0;	}
	100%{	opacity: 0.2;	}
}

.orange-text {
  color: #ff9900;
}

.purple-text {
  color: #cc99cc;
}

.blue-text {
  color: #9999ff;
}

.lt-blue-text {
  color: #9999cc;
}

.red-text {
  color: #cc0000;
}

.lt-red-text {
  color: #cc6666;
}

.tan-text {
  color: #ff9966;
}

.lt-tan-text {
  color: #ffcc99;
}

.pink-text {
  color: #cc6699;
}

.orange-back {
  background-color: #ff9900;
}

.purple-back {
  background-color: #cc99cc;
}

.blue-back {
  background-color: #9999ff;
}

.lt-blue-back {
  background-color: #9999cc;
}

.red-back {
  background-color: #cc0000;
}

.lt-red-back {
  background-color: #cc6666;
}

.tan-back {
  background-color: #ff9966;
}

.lt-tan-back {
  background-color: #ffcc99;
}

.pink-back {
  background-color: #cc6699;
}

.black-back {
  background-color: #000000;
}

@font-face {
  font-family: 'lcars_font';
  src: url(//:) format('no404'), 
  url('../font/lcars-webfont.woff') format('woff'), 
  url('../font/lcars-webfont.ttf') format('truetype'), 
  url('../font/lcars-webfont.svg#webfontMzhP0WIg')format('svg'),
  url('../font/lcars-webfont.eot'),
  url('../font/lcars-webfont.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}